absl-py==0.8.0
astor==0.8.0
atari-py==0.2.6
attrs==19.2.0
backcall==0.1.0
bleach==3.1.0
Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.8
cached-property==1.5.1
cachetools==3.1.1
certifi==2019.11.28
cffi==1.13.2
chainer==7.1.0
chainerrl==0.7.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
configparser==4.0.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dm-control==0.0.300771433
dm-env==1.2
dm-tree==0.1.5
docker-pycreds==0.4.0
EasyProcess==0.2.8
entrypoints==0.3
filelock==3.0.12
future==0.17.1
gast==0.2.2
gitdb2==2.0.6
GitPython==3.0.7
glfw==1.11.2
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
gql==0.2.0
graphql-core==1.1
graphviz==0.13.2
grpcio==1.25.0
gym==0.15.4
h5py==2.10.0
Hydra==2.5
hydra-core==0.11.3
ideep4py==2.0.0.post3
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.4.1
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kornia==0.3.1
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
memory-profiler==0.57.0
mistune==0.8.4
mkl-fft
mkl-random
moviepy==1.0.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nn-builder==1.0.5
notebook==6.0.1
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==1.4.1
opencv-python==4.1.1.26
opt-einsum==3.1.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pathtools==0.1.2
pbr==5.4.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
proglog==0.1.9
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.9.2
psutil==5.6.7
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pygame==1.9.6
pyglet==1.3.2
Pygments==2.4.2
Pympler==0.8
PyOpenGL==3.1.5
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
PyVirtualDisplay==0.2.1
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.3.1
Send2Trash==1.5.0
sentry-sdk==0.14.1
Shapely==1.6.4.post2
shortuuid==0.5.0
six==1.13.0
sklearn==0.0
smmap2==2.0.5
stable-baselines==2.8.0
subprocess32==3.5.4
tensorboard==2.0.1
tensorflow==2.5.0
tensorflow-estimator==2.0.1
tensorflow-probability==0.8.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
testresources==2.0.1
torch==1.6.0
torchvision==0.6.1
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typing==3.6.6
typing-extensions==3.7.4
urllib3==1.26.5
wandb==0.8.26
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xvfbwrapper==0.2.9
